@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Cormorant+SC&family=Montserrat:wght@400;700&family=Saira:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
body {
    height: 2000px;
    background: rgb(251,251,226);

}
ul, li {
    list-style: none;
}
header {
    height: 60px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    position: fixed;
    background-color: rgb(251,251,226);
}
header div {
    color: rgb(0, 0, 0);
}
header div h2 {
    font-family: 'Saira', sans-serif;
}
.header .logo img{
    height: 40px;
    border-radius: 100%;
    margin-left: 15px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);}
.navLinks {
    list-style: none;
    padding-right: 5vh;
}
.navLinks li {
    display: inline-block;
    padding: 0 10px;
}
.navLinks a {
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding-left: 5vh;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: font-size .4s;
}
a:hover{
    font-size: 16.5px;
}
.section-inicio {
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 40px;
}
.container-inicio {
    width: 30%;
    font-size: 2vh;
}
.img-barras {
    width: 25%;
    /* border: solid black 8px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
}
.boton-encargo {
    width: 85%;
    height: 30px;
    background-color: rgb(226, 76, 121);
    border-style: none;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 800;
    margin-top: 30px;
    transition: width.7s;
}
.boton-encargo:hover {
    width: 87%;
    height: 33px;
}
.hero {
    margin-left: 11em;
    margin-top: 120px;
    margin-right: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -2px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.hero div h1 {
    margin-bottom: 10px;
}
.textoInformativo p{
    margin-right: 40px;
}
.section-card {
    margin-top: 250px;
}
.container-card {
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.container-card .card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container-card .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container-card .card img {
    width: 330px;
}
.container-card .card h4 {
    font-weight: 600;
}
.container-card .card p {
    padding: 0 1rem;
    font-size: 16px;
}
.categorias-h2 {
    margin-left: 175px;
}
